
//  $text-primary:#000;
 $bgPrimary:#222434;
 $bgSecondary: #525362;
 $blue: #3f83bc;
 $mercury: linear-gradient(to right, #5b3013 , #ab6538); 
//  $pink: #0071bd;
//  $light-blue: #e6f7ff;
//  $border: #d9d9d9;

 